@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1f1f1f;
  --foreground: #ededed;
}

html,
body {
  height: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  scroll-behavior: smooth;
}

.frosty {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: saturate(180%) blur(10px);
}

.frosty-dark {
  background: rgba(220, 220, 220, 0.8);
  backdrop-filter: saturate(180%) blur(15px);
}
